<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Buscador de tus series favoritas</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
  <div class="page">

      <h1>Buscador de tus series favoritas</h1>
        <!-- // 1. Un campo de texto y un botón para buscar series por su título
         -->
    <input type="text" class="input" placeholder="Escribe el título de tu serie">
    <button class="button"></button>
<!-- 
    // 2. Un listado de resultados de búsqueda donde aparece el cartel de la serie y el título -->

    <ul class="lista">
        <img src="" alt="" class="carteldelaserie">
        <h2 class="titulodelaserie"></h2>
    </ul>



    <!-- <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial> -->
  </div>

  <script type="text/javascript" src="main.js"></script>

</body>
</html>

